@import url('chillax.css');

:root {
    --blanc : #F0F0F0;
    --noir : #0D0D0D;
    --gris : #808080;
    --neomorphDrop : 18px 18px 30px 0px #D1D9E6, -18px -18px 30px 0px #FFF;
    --titre : 53px;
    --soustitre : 15px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--blanc);
    color: var(--noir);
    font-family: 'Chillax-Variable';
}


.competences {
    width: 100%;
    max-width: 1024px;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: transparent;
}
.titreEtGraphique {
    position: relative;
    display: flex;
    flex-direction: column;
    background: transparent;
}
.titreEtGraphique h1 {
    font-size: var(--titre);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: transparent;
}
span {
    color: var(--gris);
    background: transparent;
}
.titreEtGraphique h2 {
    font-size: var(--soustitre);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 70px;
    background: transparent;
}
.graphique {
    width: 1024px;
    height: 376px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 77px 30px;
}
.fondGraphique {
    width: 1024px;
    height: 376px;
    border-radius: 46px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: var(--neomorphDrop);
    backdrop-filter: blur(50px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 77px 30px;
}
.statistiquesEtTitre {
    position: relative;
    display: flex;
    background: transparent;
}
.langages {
    background: transparent;
}
img {
    background: transparent;

}
.titre {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: justify;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.56px;
    background: transparent;
}