@import url('satoshi.css');
*:root {
    --deepnoir : #000;
    --noir: #1D1D1F;
    --gris: #75757A;
    --blanc1: #F5F5F7;
    --blanc2: #FAFAFA;
    --orange : #FF9F0A;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--deepnoir);
    font-family: 'Satoshi-Medium';
}
body {
    overflow-x: hidden;
}

.creation_container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 1920px;
    height: auto;
    margin: 200px auto ;
    gap: 30px;
    justify-content: center;
}
.cards {
    max-width: 600px;
    max-height: 600px;
    background-color: var(--noir);
    display: flex;
    flex-direction: column;
    border-radius: 26px;
    padding: 16px;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--gris);
    font-family: 'Satoshi-Light';
    overflow: hidden;
}
.cards:hover {
    transition: ease 1s;
    background-color: var(--blanc1);
}
.cards img {
    position: relative;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    max-width: 568px;
    max-height: 510px;
    object-fit: cover; 
    object-position: center;
}
.titre {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    background: transparent;
}
.titre h1 {
    position: relative;
    margin-top: 5px;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--gris);
    font-family: 'Satoshi-Light';
    overflow: hidden;
    background: transparent;
}
#creations {
    scroll-behavior: smooth; 
}

/*responsive*/

@media screen and (min-width: 1440px) {
    
}
@media screen and (min-width: 1024px) {
    
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
    .creation_container {
        padding: 8px;
    }
    .cards {
        border-radius: 16px;
        padding: 8px;
        height: 1000px;
    }
    .cards img {
        height: 540px;
        max-height: 540px;
    }
}
@media screen and (max-width: 375px) {

}
