@import url('chillax.css');
:root {
    --blanc : #F0F0F0;
    --noir : #0D0D0D;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--blanc);
    color: var(--noir);
    font-family: 'Chillax-Variable';
}

.Header {
    width: 100%;
    height: 300px;
    top: 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topAmbilights {
    max-width: 1024px;
    height: 408px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topAmbilightsOrange {
    width: 775px;
    height: 244px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -100px;
    border-radius: 430px;
    background: rgba(255, 184, 0, 0.33);
    filter: blur(120px);
}
.topAmbilightsRouge { 
    width: 875px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 697px;
    background: rgba(233, 63, 63, 0.33);
    filter: blur(120px);
    top: 0px;
}
.topAmbilightsBleu {
    width: 775px;
    height: 229px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -100px;
    border-radius: 575px;
    background: rgba(63, 100, 233, 0.33);
    filter: blur(120px);
}
.navLight {
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    z-index: 999;
}
.rectangleNavbar {
    width: 1024px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
}
.textNavbar {
    display: flex;
    width: 613px;
    height: 60px;
    align-items: center;
    gap: 32px;
    position: absolute;
    left: 35px;
    background: none;
}
.logoRSNavbar {
    display: flex;
    width: 194px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 29px;
    background: none;
}
.separateurVertical {
    width: 1px;
    height: 24px;
    background: rgba(0, 0, 0, 0.26);
}
.logoRSNavbar a { 
    width: 24px;
    height: 24px;
    color : var(--noir);
    background: none;
}
.logoRSNavbar a svg { 
    width: 24px;
    height: 24px;
    color : var(--noir);
    background: none;
}
.textNavbar h1 {
    font-size: 30px;
    font-style: normal;
    font-family: 'Chillax-Semibold';
    line-height: normal;
    color : var(--noir);
    margin: -4px;
    background: transparent;
    padding-right: 10px;
}
.textNavbar h2 {
    font-size: 15px;
    font-style: normal;
    font-family: 'Chillax-Semibold';
    line-height: normal;
    color : var(--noir);
    background: transparent;
}
.textNavbar a {
    text-decoration: none;
    background: none;
    display: contents;
}
.logo {
    display: none;
    color: rgba(240, 240, 240, 0.60);
    font-size: 40px;
    font-weight: 700;
}

/*---------------RESPONSIVE---------------*/

@media screen and (max-width: 768px) {  
    .topAmbilightsRouge {
        height: 300px;
        position: absolute;
        top: 0;
        left: 50%;
    }
    .topAmbilightsOrange,
    .topAmbilightsBleu {
        top: 0px;
    }
}

@media screen and (max-width: 1024px) {
    .Header {
        max-width: 400px;
        margin: 0 auto;
    }
    .topAmbilights {
        max-width: 400px;
        margin: 0 auto;
    }
    .topAmbilightsRouge {
        height: 300px;
        position: absolute;
    }
    .navLight {
        display: none;
     }
     .logo {
        display: flex;
        position: absolute;
        background: transparent;
     }

}

