@import url('chillax.css');

:root {
    --blanc : #F0F0F0;
    --noir : #0D0D0D;
    --gris : #808080;
    --neomorphDrop : 18px 18px 30px 0px #D1D9E6, -18px -18px 30px 0px #FFF;
    --titre : 53px;
    --soustitre : 15px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--blanc);
    color: var(--noir);
    font-family: 'Chillax-Variable';
}

.titreEtSousTitre {
    position: relative;
    display: flex;
    margin: 0 auto 100px auto;
    max-width: 1024px;
    background: transparent;
}
.containerTitreEtSousTitre {
    text-align: right;
    position: relative;
    display: flex;
    flex-direction: column;
    background: transparent;
}
.containerTitreEtSousTitre h1 {
    display: flex;
    gap: 3px 10px;
    font-size: var(--titre);
    font-weight: 700;
    background: transparent;
}
span {
    color: var(--gris);
    background: transparent;
}
.containerTitreEtSousTitre h2 {
    color: var(--gris);
    font-size: var(--soustitre);
    font-weight: 400;
    background: transparent;

}
.projet {
    width: 100%;
    height: 105vh;  
}

/************quantum computer************/

.quantumContainer {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #000;
    height: 105vh;
}
.containerImageEtTexte {
    position: relative;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    background: transparent;
}
.containerImageEtTexte img {
    position: relative;
    height: 95vh;
    margin: 0;
}
.footerLientoProjet {
    height: 40px;
    position: relative;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
}
.footerLientoProjet h1 {
    color: var(--blanc);
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    background: transparent;
    padding-right: 20px;
}
.footerLientoProjet a {
    background: transparent;
    width: 40px;
    height: 40px;
}
.footerLientoProjet a img {
    width: 40px;
    height: 40px;
    display: flex;
    background: transparent;
}
.footerLientoProjet a:hover {
    transform: scale(1.1);
}
.containerText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.elementsTextContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.elementsTextContainer h1 {
    position: relative;
    color: var(--blanc);
    font-size: 25px;
    font-weight: 400;
    margin: -10px auto;
    background: transparent;
}
.elementsTextContainer h2 {
    position: relative;
    color: var(--blanc);
    font-size: 69px;
    font-weight: 600;
    background: transparent;
}
.elementsTextContainer h3 {
    color: var(--gris);
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    right: 0;
    bottom: 0;
    background: transparent;
}

/************quantum computer************/

.visonOsProjet {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 105vh;
    max-width: 1024px;
}
.visonOsProjetFooter {
    height: 40px;
    position: relative;
    display: flex;
    margin: 0 auto 200px auto;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
}
.visonOsProjetFooter h1 {
    color: var(--noir);
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    background: transparent;
    padding-right: 20px;
}
.visonOsProjetFooter a {
    background: transparent;
    width: 40px;
    height: 40px;
}
.visonOsProjetFooter a img {
    width: 40px;
    height: 40px;
    display: flex;
    background: transparent;
}
.visonOsProjetFooter a:hover {
    transform: scale(1.1);
}
.visonOsProjetContent {
    position: relative;
    display: flex;
    margin: auto auto 200px auto;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
}
.visonOsProjetContentText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}
.visonOsProjetContentText h2 {
    text-align: justify;
    font-size: 25px;
    font-weight: 400;
}
.visonOsProjetContentTextHead {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 580px;
}
.visonOsProjetContentTextHead h1 {
    font-size: 95px;
    font-weight: 600px;
}
.visonOsProjetContent img {
    position: relative;
    margin: 0 auto;
}

/************crisetool************/

.crisetool {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 105vh;
    width: 100%;
    background-color: #000;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.crisetoolFooter {
    height: 40px;
    position: relative;
    display: flex;
    margin: 0 auto 200px auto;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
}
.crisetoolFooter h1 {
    color: var(--blanc);
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    background: transparent;
    padding-right: 20px;
}
.crisetoolFooter a {
    background: transparent;
    width: 40px;
    height: 40px;
}
.crisetoolFooter a img {
    width: 40px;
    height: 40px;
    display: flex;
    background: transparent;
}
.crisetoolFooter a:hover {
    transform: scale(1.1);
}
.ambilightOne {
    width: 800px;
    height: 800px;
    border-radius: 576px;
    background: rgba(240, 12, 76, 0.43);
    filter: blur(120px);
    position: absolute;
    top: -200px;
    left: -200px;
}
.ambilightTwo {
    width: 800px;
    height: 800px;
    border-radius: 576px;
    background: rgba(240, 12, 76, 0.43);
    filter: blur(120px);
    position: absolute;
    bottom: -200px;
    right: -200px;
}
.crisetoolContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin: auto;
    max-width: 1024px;
}
.crisetoolContent img {
    position: relative;
    background: transparent;
}
.crisetoolContentTextContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    background: transparent;
}
.crisetoolContentTextContainer h2{
    color: var(--blanc);
    text-align: justify;
    font-size: 25px;
    font-weight: 500;
    background: transparent;
}
.crisetoolContentTextHead {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin-bottom: 20px;
}
.crisetoolContentTextHead h1 {
    font-size: 22px;
    color: var(--blanc);
    font-weight: 400;
    background: transparent;
    margin-bottom: -10px;
}
.crisetoolContentTextHead h2 {
    font-size: 99px;
    color: var(--blanc);
    font-weight: 600;
    background: transparent;
}
.crisetoolContentTextHead h3 {
    font-size: 13px;
    color: var(--gris);
    font-weight: 400;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*---------------RESPONSIVE---------------*/


@media screen and (max-width: 768px) {  
    .titreEtSousTitre,
    .visonOsProjet,
    .crisetool {
        padding: 0px 10px;
    }
}

@media screen and (max-width: 1024px) {
    .titreEtSousTitre,
    .visonOsProjet,
    .crisetool {
        padding: 0px 10px;
    }
}

@media screen and (max-width: 1340px) {
    .elementsTextContainer h2 {
        font-size: 47px;
    }
    .containerImageEtTexte img {
        height: 75vh;
    }
    .visonOsProjetContent {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        }
    .visonOsProjetFooter {
        margin: 40px auto 50px auto;
    }
    .visonOsProjet {
        justify-content: center;
    }
    .visonOsProjetContent {
        padding: 0 100px 0 100px;
    }
    .visonOsProjetContentText h2 {
        margin-top: 40px;
    }
    .crisetoolContent img {
        width: 500px;
    }
    .crisetoolContentTextHead h2 {
        font-size: 80px;
    }
    .crisetoolContentTextHead h3 {
        position: relative;
        align-self: end;
    }
    .titreEtSousTitre,
    .visonOsProjet,
    .crisetool {
        padding: 0px 10px;
    }
}