@import url('chillax.css');

:root {
    --blanc : #F0F0F0;
    --noir : #0D0D0D;
    --gris : #808080;
    --neomorphDrop : 18px 18px 30px 0px #D1D9E6, -18px -18px 30px 0px #FFF;
    --titre : 53px;
    --soustitre : 15px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--blanc);
    color: var(--noir);
    font-family: 'Chillax-Variable';
}

.titreEtSousTitre {
    position: relative;
    display: flex;
    margin: 0 auto 100px auto;
    max-width: 1024px;
    background: transparent;
}
.containerTitreEtSousTitre {
    text-align: right;
    position: relative;
    display: flex;
    flex-direction: column;
    background: transparent;
}
.containerTitreEtSousTitre h1 {
    display: flex;
    gap: 3px 10px;
    font-size: var(--titre);
    font-weight: 700;
    background: transparent;
}
span {
    color: var(--gris);
    background: transparent;
}
.containerTitreEtSousTitre h2 {
    color: var(--gris);
    font-size: var(--soustitre);
    font-weight: 400;
    background: transparent;
    text-align: left;
}
.projet {
    width: 100%;
    height: 105vh;  
}

/************quantum computer************/

.quantumContainer {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #000;
    height: 105vh;
}
.containerImageEtTexte {
    position: relative;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    background: transparent;
}
.containerImageEtTexte img {
    position: relative;
    height: 800px;
    margin: 0;
}
.footerLientoProjet {
    height: 40px;
    position: relative;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
}
.footerLientoProjet h1 {
    color: var(--blanc);
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    background: transparent;
    padding-right: 20px;
}
.footerLientoProjet a {
    background: transparent;
    width: 40px;
    height: 40px;
}
.footerLientoProjet a img {
    width: 40px;
    height: 40px;
    display: flex;
    background: transparent;
}
.footerLientoProjet a:hover {
    transform: scale(1.1);
}
.containerText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.elementsTextContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.elementsTextContainer h1 {
    position: relative;
    color: var(--blanc);
    font-size: 25px;
    font-weight: 400;
    margin: -10px auto;
    background: transparent;
}
.elementsTextContainer h2 {
    position: relative;
    color: var(--blanc);
    font-size: 69px;
    font-weight: 600;
    background: transparent;
}
.elementsTextContainer h3 {
    color: var(--gris);
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    right: 0;
    bottom: 0;
    background: transparent;
}

/************quantum computer************/

.visonOsProjet {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 105vh;
    max-width: 1024px;
}
.visonOsProjetFooter {
    height: 40px;
    position: relative;
    display: flex;
    margin: 0 auto 200px auto;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
}
.visonOsProjetFooter h1 {
    color: var(--noir);
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    background: transparent;
    padding-right: 20px;
}
.visonOsProjetFooter a {
    background: transparent;
    width: 40px;
    height: 40px;
}
.visonOsProjetFooter a img {
    width: 40px;
    height: 40px;
    display: flex;
    background: transparent;
}
.visonOsProjetFooter a:hover {
    transform: scale(1.1);
}
.visonOsProjetContent {
    position: relative;
    display: flex;
    margin: auto auto 200px auto;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
}
.visonOsProjetContentText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}
.visonOsProjetContentText h2 {
    position: relative;
    text-align: justify;
    font-size: 25px;
    font-weight: 400;
}
.visonOsProjetContentTextHead {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 580px;
}
.visonOsProjetContentTextHead h1 {
    font-size: 95px;
}
.visonOsProjetContent img {
    position: relative;
    margin: 0 auto;
}

/************crisetool************/

.crisetool {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 105vh;
    width: 100%;
    background-color: #000;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.crisetoolFooter {
    height: 40px;
    position: relative;
    display: flex;
    margin: 0 auto 200px auto;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
}
.crisetoolFooter h1 {
    color: var(--blanc);
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    background: transparent;
    padding-right: 20px;
}
.crisetoolFooter a {
    background: transparent;
    width: 40px;
    height: 40px;
}
.crisetoolFooter a img {
    width: 40px;
    height: 40px;
    display: flex;
    background: transparent;
}
.crisetoolFooter a:hover {
    transform: scale(1.1);
}
.ambilightOne {
    width: 800px;
    height: 800px;
    border-radius: 576px;
    background: rgba(240, 12, 76, 0.43);
    filter: blur(120px);
    position: absolute;
    top: -200px;
    left: -200px;
}
.ambilightTwo {
    width: 800px;
    height: 800px;
    border-radius: 576px;
    background: rgba(240, 12, 76, 0.43);
    filter: blur(120px);
    position: absolute;
    bottom: -200px;
    right: -200px;
}
.crisetoolContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin: auto;
    max-width: 1024px;
}
.crisetoolContent img {
    position: relative;
    background: transparent;
}
.crisetoolContentTextContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    background: transparent;
}
.crisetoolContentTextContainer h2{
    color: var(--blanc);
    text-align: justify;
    font-size: 25px;
    font-weight: 500;
    background: transparent;
}
.crisetoolContentTextHead {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin-bottom: 20px;
}
.crisetoolContentTextHead h1 {
    font-size: 22px;
    color: var(--blanc);
    font-weight: 400;
    background: transparent;
    margin-bottom: -10px;
}
.crisetoolContentTextHead h2 {
    font-size: 99px;
    color: var(--blanc);
    font-weight: 600;
    background: transparent;
}
.crisetoolContentTextHead h3 {
    font-size: 13px;
    color: var(--gris);
    font-weight: 400;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*---------------RESPONSIVE---------------*/

@media screen and (max-width: 500px){  
    .titreEtSousTitre {
        padding-left: 10px;
    }
    /**quantum**/
    .containerImageEtTexte {
        flex-direction: column;
    }
    .containerImageEtTexte h3 {
        display: none;
    }
    .containerImageEtTexte h2 {
        font-size: 35px;
    }
    .containerImageEtTexte img {
        height: 550px;
    }
    .footerLientoProjet {
        margin-top: 70px
    }  
    .footerLientoProjet h1 {
        font-size: 18px;
    }

    /**vision OS**/
    .visonOsProjetContent {
        padding: 0px;
        flex-direction: column;
        margin: auto;
    }
    .visonOsProjetContent img {
        width: 340px;
    }
    .visonOsProjetContentTextHead {
        width: auto;
        margin-top: 90px;
    }
    .visonOsProjetContentTextHead svg {
        width: 25px;
    }
    .visonOsProjetContentTextHead h1 {
        font-size: 50px;
    }
    .visonOsProjetContentText h2 {
        font-size: 20px;
        padding: 20px;
    }
    .visonOsProjetFooter {
        margin: 0 auto 125px auto;
    }
    /**CriseTool**/
    .crisetoolContent {
        flex-direction: column;
    }
    .crisetoolContent {
        margin: 200px auto 0 auto;
        padding: 0px 10px;
    } 
    .crisetoolContent img {
        display: none;
    }
    .crisetoolContentTextContainer .crisetoolContentTextHead h2 {
        font-size: 80px;
    }
    .crisetoolContentTextHead h3 {
        display: none;
    }
    .crisetoolContentTextContainer h2 {
        font-size: 20px;
    }
    .crisetoolFooter {
        margin: 100px auto 200px auto;   
    }
    .crisetoolFooter h1 {
        font-size: 20px;
    }
    .ambilightOne {
        top: 300px
    }
}
@media screen and (max-width: 768px) and (min-width: 500px) {  
    .titreEtSousTitre {
        padding-left: 10px;
    }
    /**quantum**/
    .containerImageEtTexte {
        flex-direction: column;
    }
    .containerImageEtTexte h3 {
        display: none;
    }
    .containerImageEtTexte h2 {
        font-size: 44px;
    }
    .containerImageEtTexte img {
        height: 650px;
    }
    .footerLientoProjet {
        margin-top: 100px
    }   
    /**vision OS**/
    .visonOsProjetContent {
        padding: 0px;
        flex-direction: column;
        margin: auto;
    }
    .visonOsProjetContentTextHead {
        width: auto;
    }
    .visonOsProjetContentTextHead svg {
        width: 25px;
    }
    .visonOsProjetContentTextHead h1 {
        font-size: 50px;
    }
    .visonOsProjetContentText h2 {
        font-size: 20px;
        padding: 20px;
    }
    /**CriseTool**/
    .crisetoolContent {
        flex-direction: column;
    }
    .crisetoolContent {
        margin: 200px auto 0 auto;
        padding: 0px 10px;
    } 
    .crisetoolContent img {
        display: none;
    }
    .crisetoolContentTextContainer .crisetoolContentTextHead h2 {
        font-size: 80px;
    }
    .crisetoolContentTextHead h3 {
        display: none;
    }
    .crisetoolContentTextContainer h2 {
        font-size: 20px;
        margin: 0px 40px;
    }
    .crisetoolFooter {
        margin: 100px auto 200px auto;   
    }
    .ambilightOne {
        top: 300px
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px){
    .titreEtSousTitre {
        padding-left: 10px;
    }
    /**quantum**/
    .containerImageEtTexte {
        flex-direction: column;
    }
    .containerImageEtTexte h3 {
        display: none;
    }
    .containerImageEtTexte h2 {
        font-size: 44px;
    }
    .containerImageEtTexte img {
        height: 650px;
    }
    .footerLientoProjet {
        margin-top: 100px
    }
    /**vision OS**/
    .visonOsProjetContent {
        padding: 0px 40px;
        flex-direction: column;
        margin: 50% auto;
    }
    /**CriseTool**/
    .crisetoolContent {
        flex-direction: column;
    }
    .crisetoolContent {
        margin: 200px auto 0 auto;
        padding: 0px 10px;
    } 
    .crisetoolContent img {
        display: none;
    }
    .crisetoolContentTextContainer .crisetoolContentTextHead h2 {
        font-size: 80px;
    }
    .crisetoolContentTextHead h3 {
        display: none;
    }
    .crisetoolContentTextContainer h2 {
        font-size: 20px;
        margin: 0px 40px;
    }
    .crisetoolFooter {
        margin: 80px auto 200px auto;   
    }
    .ambilightOne {
        top: 300px
    }
}
@media screen and (max-width: 1200px) and (min-width: 1024px){
    /**quantum**/
    .containerImageEtTexte h2 {
        font-size: 49px;
    }
    .containerImageEtTexte img {
        height: 700px;
    }
    /**vision OS**/
    .visonOsProjetContent {
        padding: 0px 10px;
    }
    .visonOsProjetContent img {
        width: 420px;
    }
    /**CriseTool**/
    .crisetoolContent {
        margin: 200px auto 0 auto;
        padding: 0px 10px;
    } 
    .crisetoolContent img {
        width: 450px;
    }
    .crisetoolContentTextContainer .crisetoolContentTextHead h2 {
        font-size: 80px;
    }
    .crisetoolContentTextHead h3 {
        display: none;
    }
    .crisetoolContentTextContainer h2 {
        font-size: 20px;
        margin: 0px 20px;
    }
    .crisetoolFooter {
        margin: 80px auto 200px auto;   
    }
}

@media screen and (max-width: 1750px) and (min-width: 1200px){
    /**quantum**/
    .containerImageEtTexte h2 {
        font-size: 59px;
    }
    .containerImageEtTexte img {
        height: 800px;
    }
    /**vision OS**/
    /**CriseTool**/
    .crisetoolContent {
        margin: 200px auto 0 auto;
    } 
}

@media screen and (min-width: 1750px) {
    /**quantum**/
    .containerImageEtTexte img {
        height: 900px;
    }
    /**vision OS**/
    .visonOsProjetContent {
        margin: 0 auto;
    }
    .visonOsProjet {
        top: 36%;
    }
    .visonOsProjetFooter {
        margin: 100px auto 200px auto;
    }
    /**CriseTool**/

}

@media screen and (min-width: 2100px) {
    /**quantum**/
    .containerImageEtTexte img {
        height: 1200px;
    }
    /**vision OS**/

    /**CriseTool**/

}
